<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="https://kit.fontawesome.com/00e77377ee.js" crossorigin="anonymous"></script>
    <title>ALL PRODUCTS | BaytClothing</title>
</head>
<body>
    <header>
        <nav>
            <ul class="lg-links">
                <li><a href="/products">shop</a></li>
                <li><a href="/">home</a></li>
                <li><a href="/offer">offer</a></li>
                <li><a href="/about">about</a></li>
            </ul>
            <div>
                <img src="assets/logo.jpg" height="35px" width="35px" alt="shop logo">
            </div>
             
            <ul class="lg-links">
                <li><img src="assets/usd.png" height="30px" width="30px" alt="usa flag"></li>
                <li><a href="/contact">contact</a></li>
                
            </ul>
            <button id="mbl-btn"><i class="fa-solid fa-bars"></i></button>
        
            <ul id="menu" class="mbl-links">
                <li><a href="/">HOME</a></li>
                <li><a href="/products">SHOP</a></li>
                <li><a href="/offer">LATEST OFFER</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li> <a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>


    <section class="container banner" style="background-image: url('assets/product-banner.jpg');">
        <div class="shadow"></div>
        <div class="banner-text">
            <h2>ALL PRODUCTS</h2>
            <p>
                Bayt is a streetwear brand that fuses urban fashion with cultural heritage, offering bold, versatile designs that celebrate global influences and modern trends.</p>
        </div>
    </section>


    <section style="margin-top: 34px;">
        <h2 style="text-align: center;">Our Top Products</h2>
        <div class="product-grid" style="padding: 43px 8px;">
            <% products.forEach(product => { %>
                <div class="product">
                    <% if (product.images.length > 0) { %>
                        <img src="<%= product.images[0] %>" alt="<%= product.name %>">
                    <% } %>
                    <h2><%= product.name %></h2>
                    <% if (product.default_price) { %>
                        <p><strong>Price:</strong> $<%= (product.default_price.unit_amount / 100).toFixed(2) %></p>
                        <!-- Order Now Button -->
                        <button class="order-now" onclick="createSession('<%= product.default_price.id %>')">Order Now</button>
                    <% } else { %>
                        <p><strong>Price:</strong> Not available</p>
                    <% } %>
                </div>
            <% }); %>
        </div>
        
    </section>

    <footer>
        <div class="form-sec">
            <h3>Bayt Clothing</h3>
            <p>STAY UPDATED WITH OUR LATEST COLLECTIONS, NEW PRODUCTS, & EXCLUSIVE OFFERS.</p>
            <form action="/subcribe">
                <input type="email" required placeholder="Enter Email">
                <button>SUBMIT</button>
            </form>
        </div>
        <div class="footer-grid">
            <ul>
                <li>BaytClothing</li>
                <li><a href="/contact">Message Us</a></li>
                <li><a href="/contact">Email</a></li>
            </ul>
            <ul>
                <li>navigation links</li>
                <li><a href="/">HOME</a></li>
                <li><a href="/products">SHOP</a></li>
                <li><a href="/offer">LATEST OFFER</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li> <a href="/contact">CONTACT</a></li>
            </ul>
            <ul>
                <li>social links</li>
                <li><a href="https://instagram.com/">instagram</a></li>
                <li><a href="https://tiktok.com/">tiktok</a></li>
                <li><a href="https://facebook.com/">facebook</a></li>
            </ul>
            <div>
                <img height="33px" width="33px" src="assets/usd.png" alt="usa country flag">
            </div>
        </div>
        <div class="copyright">
            &copy; BAYT CLOTHING CO 
            <div>
                <img height="53px" width="53px" src="assets/logo.jpg" alt="store logo">
            </div>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>
